<form>
    <h1>Criando nova pessoa</h1>
    <mat-form-field class="form">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="pessoa.nome" type="text" name="nome" placeholder="Ex. João da Silva">
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Idade</mat-label>
        <input matInput [(ngModel)]="pessoa.idade" type="text" name="idade" placeholder="Ex. 25">
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>CPF</mat-label>
        <input matInput [(ngModel)]="pessoa.cpf" type="text" name="cpf" placeholder="Ex. 12345678901">
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Sexo</mat-label>
        <input matInput [(ngModel)]="pessoa.sexo" type="text" name="sexo" placeholder="Ex. Masculino/Feminino">
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Telefone</mat-label>
        <input matInput [(ngModel)]="pessoa.telefone" type="text" name="telefone" placeholder="Ex. 46999999999">
    </mat-form-field>
    <div class="buttons">
        <button (click)="create()" class="mat-elevation-z8" mat-raised-button color="primary">Criar</button>
        <button (click)="cancel()" class="mat-elevation-z8" mat-raised-button color="warn">Cancelar</button>
    </div>
</form>