.content {
    width: 90%;
    margin: 1.4rem auto;
}

.title {
    text-align: center;
    margin-bottom: 3rem;
}

.title h1 {
    font-size: 2rem;
    color: rgb(153, 155, 156);
    font-weight: 500;
}

button {
    margin-bottom: .8rem;
}

.table {
    width: 100%;
    
}

.edit {
    color: rgb(227, 243, 79);
}

.delete {
    color: rgb(240, 46, 46);
    margin-left: .5rem;
}

.mat-header {
    width: 5rem;
}